.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
.gradle
.idea/
.metadata
pubspec.lock
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.podspec
build/
.DS_Store
*.swp
*.swo
*~
.vscode/
.env
.env.local
*.log
