name: github_profile_viewer
description: A Flutter application to search GitHub profiles and view repositories using the GitHub REST API.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  provider: ^6.0.0
  cached_network_image: ^3.3.0
  intl: ^0.19.0
  url_launcher: ^6.2.0
  google_generative_ai: ^0.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
